<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/static/style1.css">
	<link rel="stylesheet" type="text/css"
		href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		body {

			padding: 0px;
			margin: 0px;
		}

		.navbar {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #0d0d0d;
			padding: 10px;
			gap: 20px;
		}

		.navbar a {
			text-decoration: none;
			color: white;
			padding: 10px;
		}

		.navbar a:nth-child(6) {
			align-self: last baseline;
		}
	</style>
</head>

<body>
	<div class="navbar">
		<a href="/home">Home</a>
		<a href="/about">About</a>
		<a href="/review">Reviews</a>
		<a href="/author">Authors</a>
		<a href="/userdashboard">My dashboard</a>
	</div>

	<div class="container">
		<div class="book">
			<img src="/static/Images/book1.png" alt="Book 1">
			<div class="book-title">Atomic Habits</div>
			<div class="author">James Clear</div>
		</div>
		<div class="book">
			<img src="/static/Images/book2.png" alt="Book 2">
			<div class="book-title">Harry Potter</div>
			<div class="author">JK Rowling</div>
		</div>
		<div class="book">
			<img src="/static/Images/book3.png" alt="Book 3">
			<div class="book-title">Stink</div>
			<div class="author">Jenny Mclachlan</div>
		</div>
		<div class="book">
			<img src="/static/Images/book4.png" alt="Book 4">
			<div class="book-title">The Last Bear</div>
			<div class="author">Hannah Gold</div>
		</div>

		<div class="book">
			<img src="/static/Images/book5.png" alt="Book 5">
			<div class="book-title">The Silent Patient</div>
			<div class="author">Alex Michaelides</div>
		</div>
		<div class="book">
			<img src="/static/Images/book6.png" alt="Book 6">
			<div class="book-title">Energize Your Mind</div>
			<div class="author">Gaur Gopal Das</div>
		</div>
		<div class="book">
			<img src="/static/Images/book7.png" alt="Book 7">
			<div class="book-title">That Night</div>
			<div class="author">Nidhi Upadhyay</div>
		</div>
		<div class="book">
			<img src="/static/Images/book8.png" alt="Book 8">
			<div class="book-title">It Ends With Us</div>
			<div class="author">Colleen Hoover</div>
		</div>
		<div class="book">
			<img src="/static/Images/book9.png" alt="Book 9">
			<div class="book-title">Thomas Calculus</div>
			<div class="author">Joel Hass</div>
		</div>
		<div class="book">
			<img src="/static/Images/book10.png" alt="Book 10">
			<div class="book-title">Multivariable Calculus</div>
			<div class="author">Anthony J. Tromba</div>
		</div>
		<div class="book">
			<img src="/static/Images/book11.jpg" alt="Book 11">
			<div class="book-title">Ikigai</div>
			<div class="author">Francesc Miralles,<br>Hector Garcia</div>
		</div>
	</div>

</body>

</html>
<script type="text/javascript">

	var searchIcon = document.querySelector('.fa-search');
	var closeIcon = document.querySelector('.fa-times');
	var search = document.getElementById('search');

	searchIcon.onclick = () => {
		search.classList.add('expand');
	}
	closeIcon.onclick = () => {
		search.classList.remove('expand');
	}

	var button = document.querySelector('button');
	var menu = document.querySelector('.menu');
	button.onclick = () => {
		menu.classList.toggle('expand-mobile');
		button.classList.toggle('expand-icon');

	}



</script>